.site-header{

    background-color: beige;
    color : brown;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow:brown 2px 5px 7px;

}

.site-header-text {
    align-self: center;
    margin: 10px;
}

.profile{

    color : brown;

}

body{

    margin: 0;
}